<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="c.e.exper.mapper.SuplMapper">
    <resultMap type="c.e.exper.data.Plan_Suplies" id="plansuplResult">
        <id property="plan_supl_id" column="plan_supl_id"/>
        <result property="plan_id" column="plan_id"/>
        <result property="status" column="status"/>
        <result property="name" column="name"/>
        <result property="quantity" column="quantity"/>
        <association property="supl_id" column="supl" javaType="suplies" resultMap="suplResult"/>
    </resultMap>
    <resultMap type="suplies" id="suplResult">
        <id property="supl_id" column="supl_id"/>
        <result property="supl_name" column="supl_name"/>
    </resultMap>

    <select id="findMyAllSupl" resultMap="plansuplResult">
        SELECT  *
        FROM suplies s inner join plan_supl p
        ON s.supl_id = p.supl_id
        where p.PLAN_ID = #{id}
    </select>

    <select id="findAllSupl" resultMap="suplResult">
        SELECT  *
        FROM suplies
    </select>

    <select id="findSuplByName" resultMap="suplResult">
        select *
        from suplies
        where supl_name= #{name}
    </select>

</mapper>

