CREATE TABLE inquiry (
inq_id	number(6)		NOT NULL,
inq_title	VARCHAR2(100)		NOT NULL,
inq_body	VARCHAR2(255)		NOT NULL,
inq_time	date		NOT NULL
);

COMMENT ON COLUMN inquiry.inq_id IS 'auto_increment';

CREATE TABLE answer (
ans_id	number(6)		NOT NULL,
ans_title	VARCHAR2(100)		NOT NULL,
ans_body	VARCHAR2(255)		NOT NULL,
ans_time	TIMESTAMP		NOT NULL
);

COMMENT ON COLUMN answer.ans_id IS 'auto_increment';

CREATE TABLE orders (
ord_id	varchar2(8)		NOT NULL,
user_id	varchar2(15)		NOT NULL,
ord_whether	varchar2(1)		NULL,
ord_method	varchar2(1)		NULL,
ord_amount	varchar2(9)		NULL,
keep_status	varchar2(10)		NULL,
entrust_time	date		NULL,
withdraw_time	date		NULL,
keep_id	varchar2(15)		NOT NULL,
keep_id2	varchar2(15)		NULL,
user_id2	varchar2(15)		NOT NULL,
call_time	date		NULL,
delivery_status	varchar2(10)		NULL,
ordr_content	varchar2(100)		NULL,
ordr_score	varchar2(1)		NULL,
ordr_date	date		NULL
);

COMMENT ON COLUMN orders.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

COMMENT ON COLUMN orders.user_id2 IS '일반(0),기업(1),가이드(2),운송(3)';

CREATE TABLE store (
store_id	varchar2(15)		NOT NULL,
user_id	varchar2(15)		NOT NULL,
pl_id	varchar2(10)		NOT NULL,
store_phone	varchar2(11)		NULL
);

COMMENT ON COLUMN store.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

CREATE TABLE place (
pl_id	varchar2(10)		NOT NULL,
pl_name	varchar2(20)		NOT NULL,
pl_location	varchar2(50)		NOT NULL,
pl_info	varchar2(100)		NOT NULL
);

CREATE TABLE delivery_user (
user_id	varchar2(15)		NOT NULL,
duser_trans	varchar2(2)		NULL,
duser_info	varchar2(100)		NULL,
duser_location	varchar2(100)		NULL,
duser_license	varchar2(15)		NULL
);

COMMENT ON COLUMN delivery_user.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

CREATE TABLE bag (
bag_id	varchar2(15)		NOT NULL,
keep_id	varchar2(15)		NOT NULL,
bag_size	varchar2(5)		NULL,
bag_kind	varchar2(2)		NULL,
bag_price	varchar2(6)		NULL,
bag_excess	varchar2(6)		NULL
);

CREATE TABLE order_bag (
ord_id	varchar2(8)		NOT NULL,
bag_id	varchar2(15)		NOT NULL,
ordb_request	varchar2(100)		NULL,
ordb_picture	varchar2(100)		NULL
);

CREATE TABLE keeper (
keep_id	varchar2(15)		NOT NULL,
user_id	varchar2(15)		NOT NULL,
keep_num	varchar2(11)		NULL,
keep_deactivate	varchar2(1)		NULL,
location	varchar2(100)		NULL
);

COMMENT ON COLUMN keeper.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

CREATE TABLE planner (
plan_id	varchar2(10)		NOT NULL,
plan_start	date		NOT NULL,
plan_end	date		NOT NULL,
user_id	varchar2(15)		NOT NULL
);

COMMENT ON COLUMN planner.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

CREATE TABLE payment (
pay_id	varchar2(10)		NOT NULL,
pay_place	varchar2(100)		NULL,
pay_method	varchar2(10)		NOT NULL,
pay_time	date		NOT NULL,
pay_price	varchar2(10)		NOT NULL,
pay_context	varchar2(100)		NULL,
plan_id	varchar2(10)		NOT NULL,
receipt	varchar2(100)		NULL,
card_num	varchar2(30)		NOT NULL
);

CREATE TABLE memo (
memo_id	varchar2(10)		NOT NULL,
memo_ox	varchar2(1)		NOT NULL,
memo_content	varchar2(255)		NOT NULL,
plan_id	varchar2(10)		NOT NULL
);

COMMENT ON COLUMN memo.memo_ox IS '0은 x 1은 o';

CREATE TABLE schedule (
sch_number	varchar2(9)		NOT NULL,
gitem_id	varchar2(10)		NULL,
plan_id	varchar2(10)		NOT NULL,
pl_id	varchar2(10)		NOT NULL,
sch_name	varchar2(15)		NOT NULL,
sch_starttime	date		NOT NULL,
sch_endtime	date		NOT NULL,
expect_expenses	varchar2(15)		NULL
);

CREATE TABLE bookmark (
user_id	varchar2(15)		NOT NULL,
keep_id	varchar2(15)		NOT NULL
);

COMMENT ON COLUMN bookmark.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

CREATE TABLE suplies (
supl_id	varchar2(10)		NOT NULL,
supl_name	varchar2(50)		NULL
);

CREATE TABLE plan_supl (
plan_id	varchar2(10)		NOT NULL,
supl_id	varchar2(10)		NOT NULL
);

CREATE TABLE product (
pd_id	varchar2(15)		NOT NULL,
pd_name	varchar2(50)		NOT NULL,
pd_price	varchar2(9)		NOT NULL,
store_id	varchar2(15)		NOT NULL
);

CREATE TABLE guide (
user_id	varchar2(15)		NOT NULL,
guide_license	varchar2(15)		NULL
);

COMMENT ON COLUMN guide.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

CREATE TABLE gitem (
gitem_id	varchar2(10)		NOT NULL,
user_id	varchar2(15)		NOT NULL,
pl_id	varchar2(10)		NOT NULL,
introduce	varchar2(500)		NOT NULL,
usage_time	varchar2(20)		NOT NULL,
require_time	varchar2(20)		NOT NULL
);

COMMENT ON COLUMN gitem.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

CREATE TABLE book (
book_id	varchar2(15)		NOT NULL,
book_time	date		NOT NULL,
book_price	varchar2(9)		NULL,
user_id	varchar2(15)		NOT NULL,
pd_id	varchar2(15)		NOT NULL,
pay_id	varchar2(10)		NOT NULL,
book_rev_content	varchar2(100)		NULL,
book_rev_score	varchar2(2)		NULL,
book_rev_time	date		NULL
);

COMMENT ON COLUMN book.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

CREATE TABLE users (
user_id	varchar2(15)		NOT NULL,
user_pw	varchar2(20)		NOT NULL,
user_phone	varchar2(11)		NOT NULL,
user_name	varchar2(10)		NOT NULL,
user_birth	date		NOT NULL,
user_photo	varchar2(100)		NULL
);

COMMENT ON COLUMN users.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

CREATE TABLE pl_supl (
supl_id	varchar2(10)		NOT NULL,
pl_id	varchar2(10)		NOT NULL
);

CREATE TABLE pictures (
pic_name	varchar2(255)		NOT NULL,
ord_id	varchar2(8)		NOT NULL,
gitem_id	varchar2(10)		NOT NULL,
pl_id	varchar2(10)		NOT NULL,
keep_id	varchar2(15)		NOT NULL,
rev_id	varchar2(9)		NOT NULL,
pd_id	varchar2(15)		NOT NULL,
book_id	varchar2(15)		NOT NULL,
plan_id	varchar2(10)		NOT NULL
);

CREATE TABLE affiliated (
user_id	varchar2(15)		NOT NULL,
plan_id	varchar2(10)		NOT NULL
);

CREATE TABLE invite (
user_id	varchar2(15)		NOT NULL,
plan_id	varchar2(10)		NOT NULL
);

CREATE TABLE Available_Time (
time_num	varchar2(10)		NOT NULL,
gitem_id	varchar2(10)		NOT NULL,
st_time	varchar2(10)		NOT NULL,
end_time	varchar2(10)		NOT NULL,
book_whether	char(1)		NOT NULL
);

CREATE TABLE guide_review (
rev_id	varchar2(9)		NOT NULL,
gitem_id	varchar2(10)		NOT NULL,
sch_number	varchar2(9)		NOT NULL,
rating	number(2)		NULL,
grev_time	date		NULL,
grev_content	varchar(255)		NULL
);

CREATE TABLE card (
card_num	varchar2(30)		NOT NULL,
card_from	varchar2(30)		NULL,
user_id	varchar2(15)		NOT NULL
);

COMMENT ON COLUMN card.user_id IS '일반(0),기업(1),가이드(2),운송(3)';

ALTER TABLE inquiry ADD CONSTRAINT PK_INQUIRY PRIMARY KEY (
inq_id
);

ALTER TABLE answer ADD CONSTRAINT PK_ANSWER PRIMARY KEY (
ans_id
);

ALTER TABLE orders ADD CONSTRAINT PK_ORDERS PRIMARY KEY (
ord_id
);

ALTER TABLE store ADD CONSTRAINT PK_STORE PRIMARY KEY (
store_id
);

ALTER TABLE place ADD CONSTRAINT PK_PLACE PRIMARY KEY (
pl_id
);

ALTER TABLE delivery_user ADD CONSTRAINT PK_DELIVERY_USER PRIMARY KEY (
user_id
);

ALTER TABLE bag ADD CONSTRAINT PK_BAG PRIMARY KEY (
bag_id
);

ALTER TABLE order_bag ADD CONSTRAINT PK_ORDER_BAG PRIMARY KEY (
ord_id,
bag_id
);

ALTER TABLE keeper ADD CONSTRAINT PK_KEEPER PRIMARY KEY (
keep_id
);

ALTER TABLE planner ADD CONSTRAINT PK_PLANNER PRIMARY KEY (
plan_id
);

ALTER TABLE payment ADD CONSTRAINT PK_PAYMENT PRIMARY KEY (
pay_id
);

ALTER TABLE memo ADD CONSTRAINT PK_MEMO PRIMARY KEY (
memo_id
);

ALTER TABLE schedule ADD CONSTRAINT PK_SCHEDULE PRIMARY KEY (
sch_number
);

ALTER TABLE bookmark ADD CONSTRAINT PK_BOOKMARK PRIMARY KEY (
user_id,
keep_id
);

ALTER TABLE suplies ADD CONSTRAINT PK_SUPLIES PRIMARY KEY (
supl_id
);

ALTER TABLE plan_supl ADD CONSTRAINT PK_PLAN_SUPL PRIMARY KEY (
plan_id,
supl_id
);

ALTER TABLE product ADD CONSTRAINT PK_PRODUCT PRIMARY KEY (
pd_id
);

ALTER TABLE guide ADD CONSTRAINT PK_GUIDE PRIMARY KEY (
user_id
);

ALTER TABLE gitem ADD CONSTRAINT PK_GITEM PRIMARY KEY (
gitem_id
);

ALTER TABLE book ADD CONSTRAINT PK_BOOK PRIMARY KEY (
book_id
);

ALTER TABLE users ADD CONSTRAINT PK_USERS PRIMARY KEY (
user_id
);

ALTER TABLE pl_supl ADD CONSTRAINT PK_PL_SUPL PRIMARY KEY (
supl_id,
pl_id
);

ALTER TABLE pictures ADD CONSTRAINT PK_PICTURES PRIMARY KEY (
pic_name
);

ALTER TABLE affiliated ADD CONSTRAINT PK_AFFILIATED PRIMARY KEY (
user_id,
plan_id
);

ALTER TABLE invite ADD CONSTRAINT PK_INVITE PRIMARY KEY (
user_id,
plan_id
);

ALTER TABLE Available_Time ADD CONSTRAINT PK_AVAILABLE_TIME PRIMARY KEY (
time_num
);

ALTER TABLE guide_review ADD CONSTRAINT PK_GUIDE_REVIEW PRIMARY KEY (
rev_id
);

ALTER TABLE card ADD CONSTRAINT PK_CARD PRIMARY KEY (
card_num
);

ALTER TABLE answer ADD CONSTRAINT FK_inquiry_TO_answer_1 FOREIGN KEY (
ans_id
)
REFERENCES inquiry (
inq_id
);

ALTER TABLE delivery_user ADD CONSTRAINT FK_users_TO_delivery_user_1 FOREIGN KEY (
user_id
)
REFERENCES users (
user_id
);

ALTER TABLE order_bag ADD CONSTRAINT FK_orders_TO_order_bag_1 FOREIGN KEY (
ord_id
)
REFERENCES orders (
ord_id
);

ALTER TABLE order_bag ADD CONSTRAINT FK_bag_TO_order_bag_1 FOREIGN KEY (
bag_id
)
REFERENCES bag (
bag_id
);

ALTER TABLE bookmark ADD CONSTRAINT FK_users_TO_bookmark_1 FOREIGN KEY (
user_id
)
REFERENCES users (
user_id
);

ALTER TABLE bookmark ADD CONSTRAINT FK_keeper_TO_bookmark_1 FOREIGN KEY (
keep_id
)
REFERENCES keeper (
keep_id
);

ALTER TABLE plan_supl ADD CONSTRAINT FK_planner_TO_plan_supl_1 FOREIGN KEY (
plan_id
)
REFERENCES planner (
plan_id
);

ALTER TABLE plan_supl ADD CONSTRAINT FK_suplies_TO_plan_supl_1 FOREIGN KEY (
supl_id
)
REFERENCES suplies (
supl_id
);

ALTER TABLE guide ADD CONSTRAINT FK_users_TO_guide_1 FOREIGN KEY (
user_id
)
REFERENCES users (
user_id
);

ALTER TABLE pl_supl ADD CONSTRAINT FK_suplies_TO_pl_supl_1 FOREIGN KEY (
supl_id
)
REFERENCES suplies (
supl_id
);

ALTER TABLE pl_supl ADD CONSTRAINT FK_place_TO_pl_supl_1 FOREIGN KEY (
pl_id
)
REFERENCES place (
pl_id
);

ALTER TABLE affiliated ADD CONSTRAINT FK_users_TO_affiliated_1 FOREIGN KEY (
user_id
)
REFERENCES users (
user_id
);

ALTER TABLE affiliated ADD CONSTRAINT FK_planner_TO_affiliated_1 FOREIGN KEY (
plan_id
)
REFERENCES planner (
plan_id
);

ALTER TABLE invite ADD CONSTRAINT FK_users_TO_invite_1 FOREIGN KEY (
user_id
)
REFERENCES users (
user_id
);

ALTER TABLE invite ADD CONSTRAINT FK_planner_TO_invite_1 FOREIGN KEY (
plan_id
)
REFERENCES planner (
plan_id
);

