CREATE TABLE shares_pictures (
share_pic_id	varchar2(15)		NOT NULL,
share_id	varchar2(15)		NOT NULL,
pic_name	varchar2(255)		NOT NULL
);


ALTER TABLE shares_pictures ADD CONSTRAINT PK_SHARES_PICTURES PRIMARY KEY (
share_pic_id
);


ALTER TABLE shares_pictures ADD CONSTRAINT FK_shares_TO_shares_pictures_1 FOREIGN KEY (
share_id
)
REFERENCES shares (
share_id
);

ALTER TABLE shares_pictures ADD CONSTRAINT FK_pictures_TO_shares_pictures_1 FOREIGN KEY (
pic_name
)
REFERENCES pictures (
pic_name
);


