<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <label>id <input v-model="id"></label>
    <label>pw <input v-model="pw"></label>
    <label>phone <input v-model="phone"></label>
    <label>name <input v-model="name"></label>
    <label>birth <input type="date" v-model="birth"></label>
    <label>photo <input type="file" v-model="photo"></label>
    <button v-on="submit">join</button>
</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el : '#app',
        data : {
            id:'',
            pw:'',
            phone:'',
            name:'',
            birth:'',
            photo:'',


        },
        method:{
            submit:function(){
                axios.post('/api/join',{

                })
                .then
            }
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:inline="javascript">
    $(() => {
        $("#join").click(() => {
            const csrfToken =/*[[${_csrf.token}]]*/ null;
            const csrfHeader =/*[[${_csrf.headerName}]]*/ null;
            $.ajax({
                contentType: 'application/json',
                type       : 'post',
                url        : '/api/join',
                data       : JSON.stringify({
                    user_id: $("#user_id").val(),
                    user_pw: $("#user_pw").val()
                }),
                beforeSend : function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);

                }
            })

                .done((res) => {
                    if (res) {
                        alert("suc");
                        location.href = "/";
                    } else {
                        alert("fail");
                    }
                })
        })
    })
</script>


</body>
</html>